<h1>Listing All Customers</h1>

<form role="search" style="width: 15em; margin: 0.3em 2em;float: right">
  <div class="input-group">
    <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</form>

<table class='table table-bordered'>

  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>Create Order</th>
    <th>View Complete Order</th>
  </tr>
  </thead>

  <tbody class='table-striped'>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', customer, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: "btn btn-danger" %></td>
        <td><%= link_to 'Create order', new_customer_order_path(customer) , class: "btn btn-primary"%></td>
        <td><%= link_to 'Complete Order', customer_orders_path(customer), class: "btn btn-info"  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Customer', new_customer_path, class: "btn btn-success" %>
