<h1>Listing customers</h1>

<form>
  <legend>Search</legend>
  <div class='col-xs-4'>
    <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
  </div>
</form>

<table class='table table-bordered'>

  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Create Order</th>
      <th>View Complete Order</th>
    </tr>
  </thead>

  <tbody class='table-striped'>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= link_to 'Show', customer,html_options = {class: 'active'} %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Create order', new_customer_order_path(customer) %></td>
        <td><%= link_to 'Complete Order', customer_orders_path(customer)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
