<div class="alert alert-danger" style="display: none">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= notice %>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-info" %> |
<%= link_to 'Back', customers_path ,class: "btn btn-info"%>
