<h1>Listing orders</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class='table-striped'>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= link_to 'Show', customer_order_path(@customer.id ,order.id) %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(@customer.id ,order.id) %></td>
        <td><%= link_to 'Destroy', customer_order_path(@customer.id, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_customer_order_path(@customer.id) %>
